# Default ignored files
/shelf/
/workspace.xml
/.env
# Datasource local storage ignored files
/../../../../../:\Dev\bhamTAF-Java\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
